# Скомпилированный бинарный файл
/request-system.exe
/app.exe
*.exe

# Файл с переменными окружения
.env

# Папки с логами
/logs/
*.log

# Папка с файлами, загруженными пользователями
/uploads/

# Зависимости Go (если вы используете vendor)
/vendor/

# Файлы IDE
.idea/
.vscode/